:root {
    /*! Day Mode Colors  */
    --bg-color: #F2E8C6;
    --text-color: #000000;
    --secondary-text-color: #982B1C;
    --header-bg-color: #800000;
    --header-bg-color-trans: #af826081;
    --card-bg-color: #DAD4B5;
    --button-bg-color: #800000;
    --button-bg-color-trans: #800000ce;
    --button-bg-color-trans2: #8000009d;
    --button-text-color: #FFFFFF;
    --footer-bg-color: #4E342E;
    --footer-text-color: #E4C59E;
    --footer-text-color-dark: #b49671;
    --footer-txt-color-trans: #e4c49e47;
    --trans-duration: 0.3s;
    
    /*! Night Mode Colors  */
    --night-bg-color: #2C2C2C;
    --night-text-color: #FFFFFF;
    --night-secondary-text-color: #DAD4B5;
    --night-header-bg-color: #803D3B;
    --night-card-bg-color: #444444;
    --night-button-bg-color: #982B1C;
    --night-footer-bg-color: #1A1A1A;
    --night-footer-text-color: #DAD4B5;
}
.night-mode {
    --bg-color: var(--night-bg-color);
    --text-color: var(--night-text-color);
    --secondary-text-color: var(--night-secondary-text-color);
    --header-bg-color: var(--night-header-bg-color);
    --card-bg-color: var(--night-card-bg-color);
    --button-bg-color: var(--night-button-bg-color);
    --footer-bg-color: var(--night-footer-bg-color);
    --footer-text-color: var(--night-footer-text-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-trans{
transition: all var(--trans-duration) ease-in-out;
}
body {
    font-family: "Cairo", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
::selection {
    color: var(--footer-text-color);
    background-color: var(--button-bg-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
/** Intro Load */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-bg-color); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}
.splash-screen .logo {
    width: fit-content; 
    animation: fadeIn 2s ease-out forwards, fadeOut 1.1s 3.6s ease-in forwards;
}
.splash-screen .logo img {
    width: 90px;
    filter: contrast(1.1);
    filter: brightness(0.9);
}
.splash-screen .logo h1 {
    color: var(--night-card-bg-color);
    font-size: 2.1rem;
    font-weight: bold;
    padding-left: 0.8rem;
}
.splash-screen .university-name {
    color: var(--night-button-bg-color); 
    font-size: 1.9rem;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards 1s, fadeOut 1.1s 4.2s ease-in forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(.8); 
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); 
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px) scale(.8);
    }
}


/* *STUB - Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb:hover {
background: var(--button-bg-color); 
}
::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, var(--button-bg-color-trans2), var(--button-bg-color-trans));
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* *SECTION - Start Contact */
#contact{
    height: 100vh;
}
/* *STUB - Start Left Side */
.contact-l-side{
    background-color: var(--bg-color);
}

.contact-l-side h1{
    padding: 15px;
    font-size: 3rem;
}
.contact-l-side p{
    padding: 15px;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
}
.contact-methods .contact-us svg{
    padding: 15px;
    font-size: 2rem;
    color: var(--button-bg-color);
}

/* *STUB - Start right Side */

.contact-r-side{
    background-color: var(--footer-text-color);
}
.contact-r-side form input, .contact-r-side form textarea{
    padding: 10px 30px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all var(--trans-duration) ease-in-out;
    z-index: 1;
    color: var(--button-bg-color);
}
.contact-r-side form input:focus, .contact-r-side form textarea:focus{
    outline: none;
    border: var(--button-bg-color) 3px solid;
}
.contact-r-side form textarea{
    resize: none;
}

.contact-r-side form input::placeholder, .contact-r-side form textarea::placeholder{
    font-size: 1.2rem;
    font-weight: 400;
    transition: all var(--trans-duration) ease-in-out;
    color: #000;
    opacity: 0.5;
}
.contact-r-side form input:focus::placeholder, .contact-r-side form textarea:focus::placeholder{
    opacity: 0;
}

#contact form button{
    background-color: var(--button-bg-color-trans2);
    font-weight: 700;
    transition: all var(--trans-duration) ease-in-out;
    justify-self: flex-end;
}

#contact form button:hover{
    background-color: var(--button-bg-color);
    height: 100%;
}

.contact-error-message{
    background-color: #af00004c;
    border-radius: 8px;
    height: 100%;
    min-width: fit-content ;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    text-align: center;
    font-weight: 600;
    color: var(--button-text-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ;
}
.contact-message-visible{
    visibility: visible;
    opacity: 1;
}
.contact-message-done{
    visibility: visible;
    opacity: 1;
    background-color: rgb(99 152 111)
}
/* *SECTION - Responsive */
@media (max-width:992px){
    footer, .copy{
        top: 148.54px;
    }
    .contact-l-side h1{
        font-size: 2.7rem;
    }
    .contact-l-side p{
        font-size: 1.2rem;
    }
}
@media (max-width:768px){
    footer, .copy{
        top: 132.52px;
    }
}